<h1 id="title">{{t "Welcome to Ember"}}</h1>

<h2>
  {{t "Raw translations"}}
</h2>

<p>
  {{t "These are the raw translations as defined in the \"cs\" locale."}}
</p>

<ul>
  <li>
    <code>validations.blank</code>:
    {{t "validations.blank"}}
  </li>
  <li>
    <code>validations.url:</code>
    {{t "validations.url"}}
  </li>
</ul>

<h2>
  {{t "Changeset validations"}}
</h2>

<p>
  {{t "Changeset validations (the changeset has 2 URL errors)"}}
</p>

<form>
  <label>
    {{t "label.title"}}
    <Input @type="text" @value={{this.model.title}} />
  </label>
  <ul class="errors">
    {{#each (get this.model "error.title.validation") as |errorKey|}}
      <li>
        {{errorKey}}
      </li>
    {{/each}}
  </ul>

  <label>
    {{t "label.url"}}
    <Input @type="text" @value={{this.model.url}} />
  </label>
  <ul class="errors">
    {{#each (get this.model "error.url.validation") as |errorKey|}}
      <li>
        {{errorKey}}
      </li>
    {{/each}}
  </ul>

  <button type="submit">
    {{t "Submit"}}
  </button>
</form>